<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Título de la aplicacion</span>
    <span class="spacer"></span>
    <button mat-flat-button color="accent" class="separado">Botón 1</button>
    <button mat-flat-button color="accent">Botón 2</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav opened>
    <ul>
      <li>
        <a href="#">Google</a>
      </li>
      <li>
        <a href="#">Facebook</a>
      </li>
      <li>
        <a href="#">Apple</a>
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <h1>Zona de contenido</h1>
  </mat-sidenav-content>
</mat-sidenav-container>
