<!-- <app-drag-drop></app-drag-drop> -->

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Título de la aplicacion</span>
    <span class="spacer"></span>
    <button mat-icon-button color="accent" class="separado">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button color="accent">
      <mat-icon>favorite</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav opened>
    <mat-nav-list>
      <a mat-list-item href="#">Google</a>
      <a mat-list-item href="#">Facebook</a>
      <a mat-list-item href="#">Apple</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <h1>Formulario</h1>
    <form>
      <mat-form-field>
        <mat-label>Nombre:</mat-label>
        <input matInput type="text" placeholder="Nombre" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Edad:</mat-label>
        <input matInput type="number" />
      </mat-form-field>

      <button mat-raised-button color="accent">Enviar</button>
    </form>
  </mat-sidenav-content>
</mat-sidenav-container>

